.header__container {
  padding: 0.7rem 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dark-primary);
  margin-inline: 0.5rem;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__text {
  font-size: 1.5rem;
}
.header__settings-text {
  display: none;
}

.overlay-active {
  position: absolute;
  inset: 0 0 0 0;
  background-color: black;
  opacity: 40%;
  z-index: 100;
}

.setting {
  display: none;
}

.setting-active {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* xs */
@media (min-width: 475px) {
  .header__settings-text {
    display: inline-block;
  }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
  .header__container {
    max-width: 768px;
    margin: auto;
  }
}

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
