.overlay-active {
  position: absolute;
  inset: 0 0 0 0;
  background-color: black;
  opacity: 40%;
  z-index: 100;
}

.setting {
  display: none;
  border-radius: 5px;
}

.setting__h3 {
  font-size: 1.3rem;
}

.setting-active {
  width: 95%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  color: var(--black);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 1rem;
}

.setting__container--headline {
  text-align: center;
}

.setting__container--number input {
  width: 5rem;
  outline: none;
  padding: 0.5rem 0.7rem;
  background-color: rgb(207, 206, 206);
  border: none;
  border-radius: 3px;
}

.setting__container--number p {
  color: var(--gray);
}

.setting__divider {
  display: block;
  width: 100%;
  height: 1.5px;
  background-color: var(--dark-primary);
  margin-block: 0.3rem;
}

.setting__container--timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.setting__container--color-theme {
  display: flex;
  justify-content: space-between;
}

.setting__span {
  background-color: var(--gray);
  cursor: pointer;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.setting__container--color-theme span:nth-child(1) {
  background-color: rgb(128, 29, 29);
}

.setting__container--color-theme span:nth-child(2) {
  background-color: rgb(13, 11, 141);
}

.setting__container--color-theme span:nth-child(3) {
  background-color: rgb(8, 64, 110);
}

.setting__container--color-theme span:nth-child(4) {
  background-color: rgb(117, 37, 8);
}

.setting__container--color-theme span:nth-child(5) {
  background-color: rgb(103, 4, 52);
}

.setting__container--buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.setting__button {
  width: 100%;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 3px;
}

.setting__button--cancel {
  border: 1px solid var(--black);
  background-color: transparent;
}

.setting__button--save {
  background-color: var(--black);
  color: var(--text);
}
