.todo {
  display: flex;
  justify-content: center;
}

.todo__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  max-width: 550px;
  min-height: 22rem;
  margin: 1rem;
}

.todo__banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 3px solid var(--secondary);
}

.todo__input--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.todo__button--add-task {
  width: fit-content;
}

.todo__button--todo-option {
  padding: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  background-color: var(--secondary);
  border-radius: 3px;
  cursor: pointer;
}

.todo__button--todo-option:hover {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
}

.todo__container--list {
  display: flex;
  flex-direction: column;
}

.todo__input {
  color: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--primary);
  padding: 0.3rem;
  width: 13rem;
  outline: none;
}

.todo__ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: var(--bold);
}

.todo__li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark-primary);
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.todo__container--check-task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo__container--action {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: 1.2rem;
}

.todo__i {
  padding: 0.3rem 0.5rem;
  border-radius: 3px;
  border: 1px solid var(--text);
  cursor: pointer;
}

.todo__i--active {
  border-color: var(--accent);
  background-color: var(--accent);
}

.todo__button--todo-action {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid var(--text);
  border-radius: 3px;
  cursor: pointer;
}

.todo__button--todo-action:hover {
  background-color: var(--secondary);
  border: none;
}

.todo__div--task {
  display: flex;
  justify-content: space-between;
}

.todo__div--option {
  max-height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: max-height 0.2s ease;
}

.todo__div--option-active {
  height: 3.5rem;
  max-height: 3.5rem;
}

.todo__div--action-save {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.todo__button--save {
  color: var(--background);
  background-color: var(--primary);
  border-radius: 3px;
}

.all-task__container {
  display: none;
  position: absolute;
  inset: 50px 0px auto auto;
  background-color: var(--text);
  padding: 0.5rem;
  color: var(--background);
  border-radius: 3px;
}

.all-task__container-active {
  display: block;
}

.all-task__ul {
  padding: 0;
  width: 100%;
  list-style: none;
}

.all-task__button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
  padding-block: 0.3rem;
  padding-inline: 0.5rem;
  transition: background-color 0.3s ease;
}

.all-task__button:hover {
  background-color: var(--light-primary);
}
